@CHARSET "UTF-8";
*{
	margin: 20px 0;;
	padding: 0px;
}
body{
	width: 960px;
	margin: 0 auto;
	backgroud: #fff;
	font-size: 14px;
}
ul{
	list-style-type: none;
}
h2{
	height:25px;
	font-size: 14px;
	background: #eee;
	line-height: 25px;
	text-indent: 10px;
	
}
#header{
	width: auto;
	height: 150px;
	border: 2px solid #ccc;
}
#header h1{
	width: 210px;
	height: 39px;
	font-size: 12px;
	background: url("../../image/logo1.jpg") no-repeat;
	margin: 40px 0 0 50px;
}
#header h1 a {
	width: 210px;
	height: 39px;
	display: block;
	text-indent: -9999px;
}
#header ul{
	text-align: right;
	padding: 30px 50px 0 0;
}
#header ul li{
	display: inline;
}
#header ul li a{
	text-decoration:none;
	color:#333;
}
#header ul li a:hover{
	text-decoration:underline;
	color:blue;
}

#page_num {
	height:20px;
	clear:both;
	padding: 0px;
	position:relative;
}
#page_num ul {
	position:absolute;
	right:30px;
	height:20px;
}
#page_num ul li {
	float:left;
	width:26px;
	height:20px;
}
#page_num ul li a {
	display:block;
	width:20px;
	height:20px;
	line-height:20px;
	border:1px solid #333;
	text-align:center;
	text-decoration:none;
}
#page_num ul li a.selected,#page_num ul li a:hover {
	background:#666;
	font-weight:bold;
	color:#fff;
}
#page_text {
	height:20px;
	clear:both;
	padding:20px 0;
}
#page_text ul {
	text-align:center;
}
#page_text ul li {
	display:inline;
}
#page_text ul li a {
	color:#333;
}
#member{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size:12px;
}
#member h2{
	text-align: center;
	height:30px;
	line-height:30px;
	margin:2px auto;
}

#member div.sidebar{
	width:300px;
	height:550px;
	margin:10px;
	float:left;
	border:1px dashed #ccc;
}
#member div.sidebar dl{
	width:260px;
	margin:20px auto;
}
#member div.sidebar dl dt{
	height:40px;
	line-height:40px;
	text-align: center;
	font-weight:bold;
	color: #fff;
	background: #999;
	margin:0px;
}
#member div.sidebar dl dd{
	height:40px;
	line-height:40px;
	text-align: center;
	font-weight:bold;
	background: #eee;
	margin:0px;
}
#member div.sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
	margin:0px;
}
#member div.sidebar dl dd a:hover {
	background:#ccc;
}
#member div.main{
	width:600px;
	height:550px;
	margin:10px;
	float:right;
	border:1px dashed #ccc;
}
#footer{
	clear: both;
	width: auto;
	height: 60px;
	text-align: center;
	margin: 10px 0;
}
#footer p{
	font-size: 12px;
	padding: 5px 0;
	letter-spacing: 1px
}
#footer p span{
	color: #06f;
}