@CHARSET "UTF-8";
#login{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
}
#login h2{
	text-indent: 0px;
	text-align: center;
}
#login dl{
	width: 400px;
	margin: 0 auto;
}
#login dl dd{
	height:30px;
	padding:0px;
	margin:0px;
}
#login dl dd input.text{
	width: 200px;
	height: 19px;
	border: 1px dashed #ccc;
	background: #fff;
}
#login dl dd input.text_code{
	width: 60px;
	height: 19px;
	border: 1px dashed #ccc;
	background: #fff;
}
#login dl dd input.submit{
	width: 60px;
	height: 19px;
	border: 1px dashed #ccc;
	background: #fff;
	cursor: pointer;
	margin: 80px 0 0 100px;
}
#login dl dd input.button{
	width: 60px;
	height: 19px;
	border: 1px dashed #ccc;
	background: #fff;
	cursor: pointer;
	margin: 80px 0 0 5px;
}
#login dl dd img#code{
	position:relative;
	top:25px;
	left:10px;
	cursor:pointer;
}