@CHARSET "UTF-8";
#member{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
	font-size:12px;
}
#member h2{
	text-align: center;
	height:30px;
	line-height:30px;
	margin:2px auto;
}

#member div.sidebar{
	width:300px;
	height:550px;
	margin:10px;
	float:left;
	border:1px dashed #ccc;
}
#member div.sidebar dl{
	width:260px;
	margin:20px auto;
}
#member div.sidebar dl dt{
	height:40px;
	line-height:40px;
	text-align: center;
	font-weight:bold;
	color: #fff;
	background: #999;
	margin:0px;
}
#member div.sidebar dl dd{
	height:40px;
	line-height:40px;
	text-align: center;
	font-weight:bold;
	background: #eee;
	margin:0px;
}
#member div.sidebar dl dd a {
	display:block;
	color:#333;
	text-decoration:none;
	margin:0px;
}
#member div.sidebar dl dd a:hover {
	background:#ccc;
}
#member div.main{
	width:600px;
	height:550px;
	margin:10px;
	float:right;
	border:1px dashed #ccc;
}
#member div.main dl{
	width:550px;
	margin:20px auto;
}
#member div.main dl dd{
	margin: 0px;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
}