@CHARSET "UTF-8";
#register{
	width: auto;
	height: 600px;
	border: 2px solid #ccc;
}
#register h2{
	text-indent: 0px;
	text-align: center;
}
#register dl{
	width: 400px;
	margin: 0 auto;
	background: red;
}
#register dl dt{
	padding: 10px 0;
	text-align: center;
	font-weight: bold;
}
#register dl dd{
	padding: 5px 0;
}

#register dl dd input.text{
	width: 220px;
	height: 19px;
	border: 1px dashed #ccc;
	background: #fff;
}